body{
  padding: 0;
  margin: 0;
  background-image: url("../bilder/bakgrunn-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: courier;

}
/* HEADER STARTER*/
header{
  padding:0;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  margin-bottom: 5px;
  background-color: white;
  opacity: 0.5;
}
a{
  display: block;
  padding: 14px 16px;
  background-color: transparent;
  color: black;
  text-align: center;
  font-size: 30px;
  opacity: 1;

}

.lenke{
  align-self: center;
}
a:hover{
  text-decoration: none;



}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}
li{
  display: inline;
  float: left;
  border-right: 2px solid #bbb;
}

li a{
  display: block;
  width: 60px;
}
li a:hover{
  background-color:transparent;
  text-decoration:none;
}
.active{
  background-color: white;
}
/*HEADER SLUTTER*/
/* MAIN STARTER*/
main{

}
.flex-container{
display: flex;
background-color: transparent;
}
.flex-container>div{
  background-color: transparent;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
