body {background-color:lightblue;
      margin-left: 200px;
      margin-right: 200px;}

  h1 {font-family: cursive;}

  ul {list-style-type: none}

  ul li {display: inline;
          border-radius: 50px;}

ul a {background-color:lightblue;
      padding: 10px;}

a:hover {background-color: lightgrey;
        border}

h3 {font-family: cursive;}
